@import './var.css';

*{
  z-index: auto;
}

#Home{
  z-index: 999;
}
h2 {
  margin-top: 30px;
  padding: 1.5cqmax 6cqmax;
  font-family: WaterBrush;
  font-size: 10cqmin;
  color: var(--bg);
}

.HeroContainer {
  padding-top:10%;
  padding-right:5%;
  padding-left:5%;
  background-color: var(--bg);
  min-height:100vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 10px 5px rgba(0,0,0,0.1);
}

.AboutContainer {
  padding-top:10%;
  padding-right:5%;
  padding-left:5%;
  min-height:100vh;
}

/* Dark mode setting */
.DarkMode{
  background-color: var(--black);
  color: var(--grey);
}

#DModeIcon{
  color: var(--white);
  margin: 5px;
}

