@import './var.css';

.HeroBowl {
  padding-right: 5%;
  padding-left: -100px;
  padding-top: 5cqmax;
  width: 100%;
  height: auto;
}

/* Parallax image */
/*#HeroBowl {
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/bowl_herosection.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}*/

.Title {
  margin-top: 20px;
  font-family: WaterBrush;
  font-size: 10cqmax;
  color: var(--white);
  text-align: center;
}

.Tagline {
  margin-top: 20px;
  padding-left: 5cqmax;
  font-family: sans-serif;
  font-size: 9mm;
  color: var(--white);
  text-align: left;
  letter-spacing: 2px;
}

.LoginBtn {
  margin-top: 30px;
  font-size: 3cqmin;
  padding: 1.5cqmax 6cqmax;
  color: var(--white);
  background-color: transparent;
  border: solid var(--white) 2px;
  border-radius: 25mm;
  border-width: 4px;
}
.LoginBtn:hover {
  background-color: var(--white);
  color: var(--bg);
}
