@import './var.css';

nav {
  display: flex;
  gap: 2rem;
  justify-content:right;
  background-color: var(--bg);
  border-radius:10px;
  padding-top: 10px;
  padding-right: 4cqmax;

  /* Sticky nav */
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-right: 5cqmax;
}

ul a {
  color: var(--white);
  font-size: 4cqmin;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 10px;
}

ul a:hover {
  /*text-decoration: underline;*/
  background-color: var(--white);
  color: var(--bg);
}
