@import './var.css';

.NavBar {
  display: flex;
  gap: 2rem;
  justify-content:right;
  background-color: var(--bg);
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  padding-top: 10px;
  padding-right: 4cqmax;

  /* Sticky nav */
  position: fixed;
  top: 0;
  width: 100%;
}

.NavList {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-right: 5cqmax;
}

.NavBtn{
  color: var(--white);
  font-size: 2cqmin;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 10px;
}

.NavBtn:hover{
  background-color: var(--white);
  color: var(--bg);
}

