@import '../Root/var.css';

.AboutContainer {
  margin-top: 10px;
}

.AboutBody {
  margin: 3cqmax;
  font-size: 3cqmin;
}

.AboutImg{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  background-image: url(../../../assets/Classic-FrenchCrepes.jpg);
  background-repeat: no-repeat;
  background-size: 100cqmin;
  /*background-size: cover;*/
  background-position: left;
  background-attachment: fixed;
  height: 50vh;
  border-radius: 25px;
}
