@import '../Root/var.css';

.ContactContainer {
  margin-top: 10px;
}

.ContactBody {
  margin: 6cqmax;
  padding: 3cqmax;
  font-size: 3cqmin;
  background-color: var(--bg);
  border:solid var(--bg);
  border-radius: 25px;
}

.ContactTitle,
.ContactText{
  color: var(--white);
}

#Name,
#Email,
#TelInput,
#FormTxtArea{
  padding:10px 10px;
  border-style: none;
  border-radius: 10px;
}

#ContactRow{
  margin-top: 50px;
}

#FormBtn{
  margin:5px;
  padding:10px 25px;
  color: var(--bg);
  background-color: var(--white);
  border: solid;
  border-radius: 25px;
  margin-bottom: 20px;
}

#FormBtn:hover{
  background-color: var(--bg);
  color: var(--white);
}

.leaflet-container{
  height: 400px;
  border-radius: 25px;
  z-index: 0;
}

.ContactSocials{
  /*height: 5in;*/
  border: solid var(--bg);
  background-color: transparent;
  border-radius: 25px;
}

#ContactStatusMessage{
  color: var(--white);
  text-align: center;
  font-style: italic;
  padding: 5px;
  margin-bottom: 10px;
}

#Icon{
  font-size: 2rem;
  color: var(--white);
  /*padding-left: 20px;*/
}

.IconText{
  /*font-weight: bold;*/
  color: var(--white);
  margin-left: 20px;
}
.IconATag{
  text-decoration: none;
}
