@import './var.css';

#NavBar {
  margin: 0;
  background-color: transparent;
  top: 0;
  display: flex;
  position: fixed;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 100;
}

.Menu {
  padding-top: 10px;
  list-style: none;
  display: flex;
  gap: 5rem;
}

.Menu li a {
  color: var(--white);
  text-decoration: none;
}

.Menu li a:hover {
  text-decoration-line:underline;
}

#NavBar a h6 {
  font-family: WaterBrush;
  padding-top: 10px;
  color: var(--white);
}

.Logo{
  text-decoration: none;
}

#NavBar button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  font-size: larger;
  /*display: none;*/
}

@media screen and (max-width: 768px) {
  .Menu li a {
    display: none;
  }

  #NavBar button {
    display: block;
  }
}

#menuDropdown {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 320px;
  background-color: var(--dark);
  list-style: none;
}

/* toggle animation */
@keyframes navAnimeShow{
  0% {height: 200px;}
  20% { height: 350px;}
  100% { height: 320px;}
}
@keyframes unfocusAnime{
  0% {margin-top: -180px}
  20% {margin-top: 2px}
  100% {margin-top:-27px}
}

/* toggle between none and block */
.menuDropdown {
  display: none;
}
.menuDropdown.show {
  display: block;
  animation-name: navAnimeShow;
  animation-duration: 1s;
}

#menuDropdown ul{
  padding:0;
}

#menuDropdown ul li a {
  padding-top: 10px;
  list-style: none;
  display: grid;
  justify-content: center;
  color: var(--white);
  text-decoration: none;
}

#menuDropdown ul li a:hover {
  text-decoration: underline;
}

#menuDropdown ul li {
  text-decoration: none;
  list-style: none;
}

#menuX{
  display: flex;
  margin-inline:auto;
  justify-content: center;
}

#menuX button{
  padding: 10px 20px 10px 20px;
  background-color: var(--bg);
  border-radius:25px;
  color: var(--white);
}
#menuX button:hover{
  background-color: var(--white);
  color: var(--bg);
}

#unfocusDiv{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height:108vh;
  margin-top: -27px;
  animation-name: unfocusAnime;
  animation-duration: 1s;
}

