@import './var.css';
/*{border:dashed var(--bg)}*/
.NFContainer{
  padding:2cqmax;
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*background-image: url(../../../assets/salad.jpg);*/
  height: 100vh;
}
.NFTitle{
  margin-top: 7vh;
  font-family: WaterBrush;
  color: var(--bg);
  font-size:10;
  text-align: center;
}

.NFImg{
  padding:2cqmax;
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
}
.NFMessage{
  font-size:3cqmin;
  text-align: center;
  padding: 5cqmax 10cqmax 0cqmax 10cqmax;
}

.FNLink{
  text-decoration: none;
}

.NFBtn{
  font-size:2vh;
  color: var(--white);
  padding: 10px 20px;
  border: solid var(--bg);
  border-radius: 25px;
  background-color: var(--bg);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.NFBtn:hover{
  background-color: transparent;
  color: var(--bg);
}
