@import './var.css';
/*
.TermsContainer{
  padding: 5cqmax;
}*/

#TermsHeaderDiv{
  background-color: var(--bg);
  margin-top: -30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

#TermsHeaderDiv h2{
  padding-top: 100px;
  color: var(--grey);
  text-align:center;
}

.TermsCard{
  margin-left: 20%;
  margin-right: 20%;
}

.TermsPoints{
  font-size: 2rem;
  font-style: italic;
  color: var(--bg);
}

.TermsContent{
  font-size: 1rem;
  padding-bottom: 50px;
}
