@import '../Root/var.css';

.InstContainer{
  padding: 0px;
  margin: 0px;
  min-height: 100vh;
}
.InstTitle{
  margin-top: 0px;
  padding-top: 50px;
  font-family: WaterBrush;
  color: var(--white);
  font-size:10;
}

#InstImg{
  border: solid var(--white);
  border-radius: 25px;
  display: block;
  /*margin-left: auto;*/
  margin: auto;
  /*width: 100%;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#InstHero{
  /*position: absolute;*/
  background-color: var(--bg);
  width: 100%;
  padding-bottom: 50px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.InstContent{
  margin-left: 20%;
  margin-right: 20%;
  min-width: 400px;
}

#step{
  border: solid var(--bg);
}

.InstContent div{
  margin: 5px;
  border-radius: 25px;
  padding: 10px;
}

.InstContent h3{
  text-align: center;
  margin-top: 2cqmax;
  color: var(--bg);
  font-family: WaterBrush;
  font-size: 48px;
}

.heading{
  /*display: block;*/
  /*justify-content: center;*/
  color: var(--bg);
  font-weight: bolder;
  font-style: italic;
}

.InstContent p {
  font-size: 1.2rem;
  display: block;
  justify-content:center;
}

#BackBtn{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: solid var(--bg);
  background-color: transparent;
  color: var(--bg);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
}

#BackBtn:hover{
  background-color: var(--bg);
  color: var(--grey);
}
