@import '../Root/var.css';
.RecipesContainer{
  /*padding:2cqmax;*/
  min-height: 100vh;
}
#RecipesTitle{
  /*margin-top: 7vh;*/
  font-family: WaterBrush;
  color: var(--bg);
  font-size:48px;
}

/*#RecipesIntroDiv i{*/
  /*display: block;*/
  /*margin-left: 50%;*/
  /*margin-right: auto;*/
  /*font-size: 1rem;*/
  /*color: var(--bg);*/
/*}*/

.RecipesIntroDiv{
  height: 400px;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  /*margin-top: 60px;*/
}

#RecipesIntroDiv{
  /*margin:5cqmin;*/
  /*margin-bottom: 10cqmax;*/
  background-image: url('../../../assets/salad.jpg');
  /*border-radius: 25px;*/
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}
.RecipesIntroDiv::before{
  display: block;
  content: '';
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
  /*border-radius: 25px;*/
}

.RecipesIntro{
  font-size: 20px;
  padding: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;
  color: var(--white);
}

#RecipesIntro p{
  margin-bottom: 20px;
}

@keyframes RecipesBtn{
  0% {bottom:0px;}
  50% {bottom: 5px;}
  100% {bottom:0px;}
}

#RecipesDownBtn i{
  position: absolute;
  margin-left: 49%;
  margin-right: 50%;
  margin-bottom: 2cqmax;
  animation-name: RecipesBtn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  z-index: 2;
}
#RecipesDownBtn i:hover{
  color: var(--white);
}

#CarouselContainer{
  margin: 2rem;
}

.CarouselHead{
  font-family: WaterBrush;
  font-size: 3rem;
  color: var(--bg);
  text-align: center;
}

.CarouselName{
  font-family: WaterBrush;
}

#Carousel{
  max-width:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.CarouselItem img{
  /*max-width:400px;*/
  max-height:500px;
  margin-bottom: 2rem;
  border: solid var(--bg);
  border-radius: 25px;
}

.CarouselItem h3,
.CarouselItem p{
  color: var(--white);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 5px;
}

#RecipesAdvSearch{
  color: var(--white);
  font-size: 16px;
  background-color:var(--bg);
  border: solid var(--bg);
  border-radius: 10px;
  padding: 8px 16px;
  display: block;
}
#RecipesAdvSearch:hover{
  background-color:var(--white);
  color: var(--bg);
}
#RecipesAdvDrop{
  float: left;
  overflow: hidden;
}

#RecipesAdvDropContent{
  font-size: 16px;
  text-align: left;
  color: var(--white);
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  min-width: 16px;
  padding: 30px;
  margin: 5px;
  display: none;
  position: absolute;
  z-index: 1;
}

#ingInput{
  border: solid var(--bg);
  border-radius: 10px;
  width: 420px;
}

#RecipesSearchContainer{
  font-size: 16px;
  display: grid;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#RecipesSearchContainer select{
  border: solid var(--bg);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}

#RecipesSearchBar,
#RecipesSearchBar:focus{
  border: solid var(--bg);
  border-right: none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  min-width: 20rem;
  margin-left: 10px;
  margin-right: -1px;
}

#RecipesSearchBtn{
  border: solid var(--bg);
  border-left: none;
  padding: 10px;
  color:var(--bg);
  background-color:var(--white);
  border-radius: 0px 10px 10px 0px;
  width: 60px;
  margin-left: 0;
  /*margin-right: auto;*/
}

#RecipesSearchBtn:hover,
#RecipesSearchBtn i:hover{
  background-color: var(--bg);
  color: var(--white);
}

#RecipesResult{
  border-radius: 25px;
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 3rem;
  min-height: 25rem;
}

.SearchResultContainer h3{
  text-align: center;
  font-family: WaterBrush;
  font-size: 48px;
  padding-top: 150px;
  padding-left: 30px;
  /*color: var(--white);*/
}

#Circle{
  z-index:-1;
  /*background-color: var(--bg);*/
  width: 400px;
  height: 400px;
  border-radius: 200px;
  position: absolute;
  top: 340px;
  left: -80px;
}

#RecipesResult div h3 {
  font-family: unset;
  font-size: 30px;
  text-align: center;
}

#RecipesResult div a{
  font-size: 16px;
  text-decoration: none;
  width: 150px;
  border: solid var(--bg);
  border-radius: 10px;
  color: var(--white);
  padding: 10px 15px;
  display: block;
  margin-left: 23vw;
  /*margin-right: 39%;;*/
  text-align: center;
  background-color: var(--bg);
  cursor: pointer;
}

#RecipesResult div a:hover{
  background-color: var(--dark);
  color: var(--white);
}

#RecipesResult div p{
  text-align: center;
  margin-bottom: 30px;
}

#RecipesResult div img{
  border: solid var(--bg);
  border-radius: 25px;
  display: block;
  /*margin-left: auto;*/
  margin: auto;
  /*width: 100%;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
}
