@import '../Root/var.css';
.RecipesContainer{
  padding:2cqmax;
  min-height: 100vh;
}
.RecipesTitle{
  margin-top: 7vh;
  font-family: WaterBrush;
  color: var(--bg);
  font-size:10;
}

#RecipesIntroDiv i{
  display: block;
  margin-left: 50%;
  margin-right: auto;
  font-size: 3rem;
  color: var(--bg);
}

.RecipesIntroDiv{
  height: 500px;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  margin-top: 60px;
}

#RecipesIntroDiv{
  margin:5cqmin;
  margin-bottom: 10cqmax;
  background-image: url('../../../assets/salad.jpg');
  border-radius: 25px;
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}
.RecipesIntroDiv::before{
  display: block;
  content: '';
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 25px;
}

.RecipesIntro{
  font-size: 2rem;
  padding: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 1;
  color: var(--white);
}

#CarouselContainer{
  max-width: 500px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.CarouselHead{
  font-family: WaterBrush;
  font-size: 3rem;
  color: var(--bg);
}

.CarouselName{
  font-family: WaterBrush;
}

.CarouselItem img{
  max-width:80vw;
  max-height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: solid var(--bg);
  border-radius: 25px;
}

.CarouselItem h3,
.CarouselItem p{
  color: var(--white);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  padding: 5px;
}

#RecipesAdvSearch{
  color: var(--white);
  font-size: 20px;
  background-color:var(--bg);
  border: solid var(--bg);
  border-radius: 10px;
  padding: 8px 16px;
}
#RecipesAdvSearch:hover{
  background-color:var(--white);
  color: var(--bg);
}
#RecipesAdvDrop{
  float: left;
  overflow: hidden;
}

#RecipesAdvDropContent{
  font-size: 1.5rem;
  text-align: left;
  color: var(--white);
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  min-width: 9rem;
  padding: 30px;
  margin: 5px;
  display: none;
  position: absolute;
  z-index: 1;
}

#ingInput{
  border: solid var(--bg);
  border-radius: 10px;
  width: 420px;
}

#RecipesSearchContainer{
  font-size: 1rem;
  margin-left: 7cqmax;
  margin-right: 7cqmax;
}

#RecipesSearchContainer select{
  border: solid var(--bg);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}

#RecipesSearchBar,
#RecipesSearchBar:focus{
  border: solid var(--bg);
  border-right: none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  width: 20cqmax;
  margin-left: 2cqmax;
  margin-right: 0;
}

#RecipesSearchBtn{
  border: solid var(--bg);
  border-left: none;
  padding: 10px;
  color:var(--bg);
  background-color:var(--white);
  border-radius: 0px 10px 10px 0px;
  width: 60px;
  margin-left: 0;
  margin-right: auto;
}

#RecipesSearchBtn:hover,
#RecipesSearchBtn i:hover{
  background-color: var(--bg);
  color: var(--white);
}

#RecipesResult{
  border-radius: 25px;
  margin-top: 2rem;
  padding: 3rem;
}

#RecipesResult div h3{
  text-align: center;
  font-family: WaterBrush;
  font-size: 4rem;
  padding-top: 50px;
}

#RecipesResult div a{
  font-size: 1.5rem;
  text-decoration: none;
  border: solid var(--bg);
  border-radius: 10px;
  color: var(--white);
  padding: 1.2rem 2rem;
  display: block;
  margin-left: 20%;
  margin-right: 20%;;
  text-align: center;
  background-color: var(--bg);
  cursor: pointer;
}

#RecipesResult div a:hover{
  background-color: var(--white);
  color: var(--bg);
}

#RecipesResult div p{
  text-align: center;
  margin-bottom: 30px;
}

#RecipesResult div img{
  border: solid var(--bg);
  border-radius: 25px;
  display: block;
  /*margin-left: auto;*/
  margin: auto;
  /*width: 100%;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
}
