@import '../Root/var.css';

.SListContainer{
  min-height: 100vh;
}

.SListTitle{
  margin-top: 0px;
  padding-top: 100px;
  font-family: WaterBrush;
  color: var(--white);
  font-size:48px;
  text-align: center;
}

.SListHero div{
  display:grid;
  justify-content: center;
  margin-top:3rem;
  margin-bottom:3rem;
}

.SListContainer form input{
  padding: 5px;
  padding-left: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border:none;
  width: 20rem;
}
.SListContainer form button{
  width: 5rem;
  padding: 5px;
  border-radius: 0rem 1rem 1rem 0rem;
  border:none;
  background-color: var(--dark);
  color: var(--grey);
}
.SListContainer form button:hover{
  background-color:var(--black);
  color:var(--white);
}

#itemContainer{
  margin: 50px;
  color: var(--grey);
  display: grid;
  justify-content: center;
}

.itemContainer{
  max-width: 550px
}

#itemContainer div button{
  background-color: var(--dark);
  border: none;
  color: var(--grey);
  border-radius: 1rem;
}

#itemContainer div button:hover{
  color: var(--bg);
}

.itemDiv{
  background-color: var(--dark);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 1rem;
}

.itemDiv p{
  color:rgba(255,255,255,0.5);
}

#updateForm{
  display: flex;
  justify-content: center;
}

#updateForm input{
  width: 250px;
  border-radius: 1rem;
}

#updateForm form button{
  background-color: var(--bg);
  margin-top: 10px;
}
#updateForm form button:hover{
  background-color: var(--black);
  color: var(--grey);
}
