@import '../Root/var.css';

.SignupContainer {
  padding: 10cqmin;
  width: 100%;
  height: 100vh;
  font-size: 2vh;

  /* Align center */
  display: flex;
  align-items: center;
  justify-content: center;
}

#SignupCard{
  /*vertical-align: middle;*/
  width: auto;
  border:solid var(--bg);
  padding: 2cqmax;
  border-radius: 25px;
}

#SignupInput{
  padding:10px 10px;
  border-radius: 10px;
  font-size: 2vh;
}

#SignupBtn{
  margin:5px;
  padding:10px 25px;
  color: var(--bg);
  background-color: transparent;
  border: solid;
  border-radius: 25px;
  margin-bottom: 20px;
}

#SignupBtn:hover{
  color: var(--white);
  background-color: var(--bg);
}
